.work_sec {
    // background-repeat: no-repeat;
    // background-size: 100% 100%;
    // background-image: linear-gradient(180deg, #fff9fb 10%, #ffd7e3);
    // width: 100%;
    padding: 60px 0px;

    .heading {
        font-size: 40px;
        font-weight: 600;
        margin-bottom: 10px;
        color: #121212;
        font-family: var(--playfair_display);
        text-align: center;
        position: relative;
    }

    .heading::before {
        content: '';
        position: absolute;
        bottom: -6rem;
        left: 33rem;
        right: 0px;
        background-image: url('/heading_img.webp');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 230px;
        height: 50px;
    }

    .para {
        font-size: 16px;
        font-weight: 400;
        font-family: var(--lato);
        color: #808080;
        margin-bottom: 0px;
        text-align: center;
    }


    .box {
        display: flex;
        flex-direction: row;
        gap: 40px;
        align-items: baseline;
        margin-bottom: 40px;

        .step {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: #ff1593;
            color: #fff;
            font-size: 24px;
            text-align: center;
            line-height: 37px;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
        }

        .main_content {
            display: flex;
            flex-direction: column;

            .head {
                font-size: 26px;
                font-weight: 600;
                font-family: var(--playfair_display);
                color: #121212;
                margin-bottom: 15px;
            }

            .para1 {
                font-size: 16px;
                font-weight: 400;
                font-family: var(--lato);
                color: #808080;
                margin-bottom: 0px;
                width: 62%;
            }
        }

    }

    .background_img {
        position: relative;
        background-image: url('/works.webp');
        background-repeat: no-repeat;
        background-size: contain;
        // width: 450px !important;
        // height: 550px !important;
        aspect-ratio: 10 / 10;
        overflow: hidden;

        .slide {
            // width: 450px !important;
            overflow: hidden;

            .number {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background-color: #ff76c0;
                color: #fff;
                position: absolute;
                top: 7.3rem;
                font-size: 26px;
                right: 18rem;
                text-align: center;
                // line-height: 36px;
                box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
            }

            .image {
                width: 250px;
                height: 250px;
                left: -3.4rem;
                top: 9rem;
                position: relative;
                margin: 0px auto;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }
    }

    // .background_img::before {
    //     content: '';
    //     position: absolute;
    //     top: 6.3rem;
    //     right: 3.58rem;
    //     width: 350px !important;
    //     height: 350px !important;
    //     background-color: #fcf7c8;
    //     border: 3px solid #c1a26a;
    //     border-radius: 50%;
    //     overflow: hidden !important;
    // }

}



@media only screen and (min-width:300px) and (max-width:600px) {
    .work_sec {
        padding: 15px 0px;

        .heading {
            font-size: 28px;
            margin-bottom: 5px;
        }

        .heading::before {
            left: 4.75rem !important;
            bottom: -4.75rem !important;
            width: 150px;
            height: 35px;
        }

        .background_img {
            width: 340px !important;
            height: 340px !important;
        }

        .background_img::before {
            top: 3.75rem;
            right: 5.7rem;
            width: 230px !important;
            height: 230px !important;
        }

        .rows {
            flex-direction: column-reverse;
        }

        .slide {
            .image {
                width: 150px !important;
                height: 150px !important;
                left: -2.1rem !important;
                top: 7rem !important;
            }

            .number {
                width: 30px !important;
                height: 30px !important;
                top: 4.75rem !important;
                font-size: 20px !important;
                right: 11.8rem !important;
                // line-height: 27px !important;
            }
        }

        .box {
            flex-direction: column !important;
            gap: 0px;
            margin-bottom: 20px;

            .main_content {

                .head {
                    font-size: 20px;
                    margin-bottom: 10px;
                }

                .para1 {
                    width: unset !important;
                    font-size: 15px !important;
                }
            }
        }

        .step {
            // font-size: 20px !important;
            // line-height: 32px !important;
            // width: 75px !important;
            // height: 33px !important;

            width: 30px !important;
            height: 30px !important;
            font-size: 18px !important;
            line-height: 28px !important;
        }
    }
}